<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container" layout:fragment="comment" th:fragment="comment">
    <div class="card my-4">
        <h5 class="card-header">댓글</h5>
        <div class="card-body">
            <!-- 댓글 작성 -->
            <form id="commentForm" name="comment-form" th:object="${commentRequestDto}" method="post">
                <div class="form-group">
                    <input type="hidden" name="postId" th:value="${post.id}">
                    <textarea class="form-control" rows="3" th:field="*{comment}"></textarea>
                    <button type="submit" class="btn btn-primary" onclick="inputData()">댓글 작성</button>
                </div>
            </form>
        </div>
        <!-- 댓글 목록 -->
        <div id="list">
            <h5 class="card-header">댓글 목록</h5>
            <div>
                <div th:each="comment:${commentList}">
                    <div th:value="username" th:text="${comment.username}"></div>
                    <div th:value="date" th:text="${comment.date}"></div>
                    <div th:value="comment" th:text="${comment.comment}"></div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
</html>